body::before {
  display: block;
  content: "";
  height: 60px;
}

.logoHeading {
  font-style: italic;
  font-size: large;
}

.backgroundColor {
  background-color: red;
}

.backgroundColor2 {
  background-color: white;
}

.backgroundColorWhite {
  background-color: white;
}

.fontColor {
  color: red;
}

.navbar-brand {
  /* font-family: "Times New Roman", Times, serif; */
  font-weight: 400;
  font-size: x-large;
}

.card-text {
  font-size: large;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.leadPara {
  font-weight: 500;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .product3 {
    margin-top: 30px;
  }
}
